.container{
    display: flex;
    align-items: baseline;
    background-color: black;
    border-radius: 10px;
    
}
h1{
    color: white;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links{
    margin-left: auto;
    
}
button{
    margin-right: 20px;
    margin-left: 30px;
    color: white;
    background-color: #836FFF;
    border-radius: 50px;
    border: #836FFF;
    height: 30px;
    width: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    
}
a{
    color: white;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    border: solid rgba(151, 106, 235, 0.397) 0.5px;
    height: auto;
    width: auto;
    background-color: #826fff41;
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(22, 6, 245, 0.404);
    margin-left: 30px;
    margin-right: 30px;
}
.img1{
   
   width: auto;
    
}
img{
    width: 30vw;
}
.inner{
    color: black;
    margin-top: 40px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    color: #836FFF;
}
.container3{
    border: solid black 2px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    background-color: black;
    height: 40vh;
    border-radius: 20px;
}
.second{
    width: 25vw;
    margin: 40px;
    float: left;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.151) 0px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.397);
}
p{
    color: white;
    margin-top: 60px;
    font-family: "Kode Mono";
    font-size: 23px;
}
.container4{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    border: solid black 2px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 60px rgba(22, 6, 245, 0.404);
}

.grid{
     width: 45%;
     border-radius: 20px;
     
}
#i1{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.336);
}

#i2{
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.336);

}
#i3{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.336);
}
#i4{
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Projects{
    color: black;
    margin-top: 30px;
    font-size: 60px;
}
.footerr{
color: white;
font-size: 20px;
font-style: italic;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.fot{
    background-color: rgb(41, 39, 39);
    border-radius: 5px;
}
.ngr{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 0.5rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    border-radius: 20px;
    width: auto;
    height: auto;
   
}
.gi1{
    background-color:#1F2544;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
}
.gi2{
    
    grid-row: span 2;
    border-radius: 10px;
}
.gi2>img{
    box-shadow: 0 0 80px rgba(12, 156, 252, 0.486);
}
.gi3{
    background-color: #474F7A;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.gi3>img{
    
    width: 35vw;
    height:35vh;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 15px;
    
}
.gi1>img{
    
    width: 35vw;
    height:35vh;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 15px;
    
}
.gi2>img{
    border-radius: 15px;

}
.p1{
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-family: "Kode Mono";
    font-size: 23px;
}
.p3{
    color: rgb(255, 255, 255);
    margin-top: 60px;
    font-family: "Kode Mono";
    font-size: 23px;
}
.Bluetooth{
    font-size: 0px;
    font-family: "press start 2p";
}
.Bluetooth2{
    font-size: 0px;
    font-family: "press start 2p";
}

@media(max-width:390px){
    .container{
        display: flex;
        flex-wrap: wrap;
        
        width: 100%;
        background-color: black;
        border-radius: 10px;
    }
    h1{
        color: white;
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
    a{
        color: white;
        margin-right: 10px;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    .container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 60px;
        border: solid black 1px;
        height: 70vh;
        width: auto;
        background-color: #826fff41;
        border-radius: 10px;
        box-shadow: 0 0 60px rgba(22, 6, 245, 0.404);
        margin-left: 10px;
        margin-right: 10px;
    }
    .img1{
   
        width: auto;
    }

img{
    width: 80vw;
    margin-bottom: 10px;
}
.container3{
    border: solid black 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: black;
    height: auto;
    border-radius: 20px;
}
.second{
    width: 65vw;
    margin-right: 5px;
    margin-left: 50px;
   
   
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.151) 0px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.397);
}
p{
    color: white;
    margin-top: 60px;
    font-family: "Kode Mono";
    font-size: 18px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.container4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    border: solid black 2px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 60px rgba(22, 6, 245, 0.404);
}
.grid{
    
    border-radius: 20px;
    
}
#i1{
  width: 70vw;
   margin-top: 30px;
   margin-right: 60px;
   margin-bottom: 20px;
   box-shadow: 0 0 80px rgba(255, 255, 255, 0.336);
}

#i2{
    width: 70vw;
    margin-right: 90px;
   margin-top: 30px;
   margin-bottom: 20px;
   box-shadow: 0 0 80px rgba(255, 255, 255, 0.336);

}
#i3{
    width: 70vw;
    margin-right: 59px;
   margin-top: 30px;
   margin-bottom: 20px;
   box-shadow: 0 0 80px rgba(255, 255, 255, 0.336);
}
#i4{
    width: 70vw;
    margin-right: 80px;
   margin-top: 30px;
   margin-bottom: 30px;
}
    .ngr{
    display: grid;
    grid-template-columns: auto;
    grid-row: auto;
    margin-right: 22px;
    
    width: auto;
    height: auto;
}
.gi1{
    background-color:#1F2544;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: auto;
    

}
.p1{
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-family: "Kode Mono";
    font-size: 15px;
}
.p3{
    color: rgb(255, 255, 255);
    margin-top: 60px;
    font-family: "Kode Mono";
    font-size: 15px;
}
.gi3{
    background-color:#474F7A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: auto;
}
.gi3>img{
    
    width: 75vw;
    height:20vh;
    margin-left: 15px;
    margin-top: 40px;
    border-radius: 15px;
    
}
.gi1>img{
    
    width: 75vw;
    height:20vh;
    margin-left: 15px;
    margin-top: 40px;
    border-radius: 15px;
    
}
.gi2>img{
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 20px;


}
.Bluetooth{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Bluetooth2{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inner2{
font-size: 37px;
color: black;
}
}
.inner2{
    font-size: 60px;
    color: black;
}
